<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ static_section.title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<header class="custom-header">
    <div class="header-container">
        <div class="logo-container">
            <img src="{{ static_section.logo }}" alt="Логотип" class="logo">
        </div>
        <div class="title-container">
            <h1>{{ static_section.title|safe }}</h1>
        </div>
    </div>
    <nav class="header-nav">
        <ul>
            {% for menu_item in static_section.menu %}
            <li><a href="#{{ menu_item.id }}">{{ menu_item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

<section id="about">
    <div class="description-section">
        <div class="description-text">
            <h2>Описание</h2>
            <p>
                {% if content %}
                {{ content.text}}
                {% else %}
                Текстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекстекст
                {% endif %}
            </p>
        </div>
        <div class="description-image">
            {% if content and content.image %}
            <img src="{{ url_for('static', filename='uploads/' + content.image) }}" alt="Описание">
            {% else %}
            <p>Изображение не загружено</p>
            {% endif %}
        </div>
    </div>
</section>

<section id="dynamic-svg">
    <img src="{{ url_for('static', filename='images/your-svg-file.svg') }}" alt="Движение - жизнь">
    <div class="svg-overlay-text">Движение - жизнь</div>
</section>

<section id="leader">
    <div class="teacher-section">
        <div class="teacher-image">
            <img src="{{ url_for('static', filename='images/leader_image.jpg') }}" alt="Преподаватель">
        </div>
        <div class="teacher-text">
            <h2>Руководитель</h2>
            <h3>Наталья Геннадьевна Солодкая</h3>
            <p>Руководитель танцевально-спортивного коллектива "Ласточка" <br> Мастер Спорта по художественной гимнастике <br> Ст. преподаватель Института физической культуры и спорта ДВФУ</p>
        </div>
    </div>
</section>


<section class="gradient-bar"></section>

<!-- Галерея -->
<section id="gallery">
    <h2>Галерея</h2>
    <div class="gallery">
        <!-- Display images in 3 columns -->
        {% for item in gallery_items %}
            {% if item.filetype == 'image' %}
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='uploads/' + item.filename) }}" alt="Image">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="videos">
        <!-- Display videos in a single column -->
        {% for item in gallery_items %}
            {% if item.filetype == 'video' %}
                <div class="video-item">
                    <video controls>
                        <source src="{{ url_for('static', filename='uploads/' + item.filename) }}" type="video/mp4">
                    </video>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>


<section id="contact">
    <button id="contact-button">Контакты</button>
</section>


<section id="dynamic-svg-1">
    <div class="svg-container">
        <img src="{{ url_for('static', filename='images/your-svg-file_2.svg') }}" alt="Движение - жизнь">
        <div class="svg-overlay-text">Присоединяйся к нам</div>
    </div>
</section>


<div id="contact-modal" class="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <h2>Контакты</h2>
        <p>Email: example@example.com</p>
        <p>Телефон: +7 (999) 123-45-67</p>
    </div>
</div>

<section id="news">
    <h2 style="text-align: center;">Новости</h2>
    <div class="news-container">
        {% for news in news_items %}
            <div class="news-item {% if loop.index % 2 == 0 %}news-reverse{% endif %}">
                {% if loop.index % 2 == 0 %}
                    <div class="news-text">
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.description }}</p>
                    </div>
                    {% if news.image %}
                        <div class="news-image">
                            <img src="{{ url_for('static', filename='uploads/' + news.image) }}" alt="News Image">
                        </div>
                    {% endif %}
                {% else %}
                    {% if news.image %}
                        <div class="news-image">
                            <img src="{{ url_for('static', filename='uploads/' + news.image) }}" alt="News Image">
                        </div>
                    {% endif %}
                    <div class="news-text">
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.description }}</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>



<footer>
    {% if footer_content and footer_content.image %}
    <img src="{{ url_for('static', filename='uploads/' + footer_content.image) }}" alt="Footer Image">
    {% endif %}
</footer>
</body>

<script>
    const modal = document.getElementById("contact-modal");
    const btn = document.getElementById("contact-button");
    const span = document.getElementsByClassName("modal-close")[0];

    btn.onclick = function () {
        modal.style.display = "flex";
    };

    span.onclick = function () {
        modal.style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };
</script>

</html>
